<div>
    <h4 class="text-center ">Feature Definitions:</h4>
    <table class="table table-hover text-center table-striped table-bordered">
        <thead>
            <tr>
                <th class="align-middle" scope="col" rowspan="2">Feature Abbr.</th>
                <th class="align-middle" scope="col" rowspan="2">Feature Definition</th>
                <th scope="col" colspan="6">Values</th>
            </tr>
            <tr>
                <th scope="col">0</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
            </tr>
        </thead>
        <tbody>
            {% for index,row in feature_definitions.iterrows %}
            <tr class="definition_row">
                {% for cell in row %}

                {% if forloop.counter0 == 1 %}
                <td class="text-start">
                    {{cell}}
                </td>
                {% else %}
                <td>
                    {{cell}}
                </td>
                {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </tbody>
    </table>


</div>